.game-start-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    white 0%,
    white 50%,
    #fff3eb 50%,
    #fff3eb 100%
  );

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hand-image {
      align-items: center;
      width: 288px;
      height: 192px;
    }
  }
}

.hand-image {
  margin-bottom: 30px;
}
